.review{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../../Images/review-bg.jpg");    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}